<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <nav class="w-full flex justify-between px-5 py-3 shadow-sm">
        <h3 class="text-xl text-blue-700 font-bold">Sleek<span class="text-blue-500">Pack</span></h3>
        <div class="flex gap-3">
            <a href="/shop" class="mt-1 ml-1">Shop</a>
            <a href="/cart" class="mt-1 ml-1">Cart</a>
            <a href="/account" class="mt-1 ml-1">My Account</a>
            <button class="text-sm p-2 ml-4 rounded-md bg-red-400"><a href="/users/logout" class="text-black font-bold">Logout</a></button>
        </div>
    </nav>
    </body>
